@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Prompt:wght@600&family=Roboto:wght@400;500&display=swap');


.items{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    background-color: #F5F5F5;
}

.cookies1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B2239;
    width: 1440px;
    height: 72px;
    margin-bottom: 25px;
}

.cookies1-paragraph{
    width: 922px;
    height: 40px;
    line-height: 1.2rem; 
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 30px;
}

a{
    margin: 10px;
    font-family: Inter;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
}

.cookies1-settings {
    text-decoration: underline;
    color: #4AD295;
}

.cookies1-accept {
    color: #FFFFFF;
    background-color:#4AD295 ;
    padding: .9em 1.2em;
    transition: ease 250ms;
}

.cookies1-accept:hover {
    background-color:#FFFFFF;
    color:#4AD295;
}



.cookies2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2627;
    width: 1440px;
    height: 52px;
    margin-bottom: 25px;
}

.cookies2-paragraph, .cookies2-info {
    line-height: 1.2rem; 
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.8rem;
}

.cookies2-info { 
    text-decoration: underline;
    padding-right: 1.5em; 
}

.cookies2-paragraph{
    padding-left: 1.5em;
}


.cookies3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 560px;
    height: 72px;
    margin-bottom: 25px;
    border-radius: 0.9em;
}

.cookies3-paragraph, .cookies3-info {
    color: #0D0C22;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem; 
}

.cookies3-paragraph {
    margin-left: 1rem;
    width: 347px;
    height: 40px;
}

.cookies3-info {
    color: #EA4C89;
    margin-left: -0.1rem;
}

.cookies3-decline {
    font-weight: 500;
    color: #0D0C22;
    background-color: rgba(13, 12, 34, 0.05);
    padding: .6em .8em;
    margin-left: -0.8rem;
    border-radius: 0.7em;
}

.cookies3-allow {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #EA4C89;
    padding: .6em .8em;
    margin-left: -0.3rem;
    border-radius: 0.7em;
    transition: ease 250ms;
}

.cookies3-allow:hover {
    text-decoration: underline;
    color: #EA4C89;
    background-color: #FFFFFF;
}


.cookies4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26262B;
    width: 560px;
    height: 64px;
    margin-bottom: 25px;
    border-radius: 0.7em;
}

.cookies4-paragraph, .cookies4-info {
    line-height: 1.2rem; 
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 300;
    font-size: 0.8rem;
}

.cookies4-paragraph {
    margin-left: .2em;
    width: 472px;
    height: 40px;
}

.cookies4-info {
    color: #E6842E;
    margin-left: -0.1rem;
    transition: ease 250ms;
}
.cookies4-info:hover {
    text-decoration: underline;
}

.cookies4-okay {
    font-weight: 500;
    color: #26262B;
    background-color: #FFFFFF;
    padding: .6em .8em;
    margin-left: -1.2rem;
    border-radius: 0.7em;
    transition: ease 250ms;
}

.cookies4-okay:hover {
    background-color:#26262B;
    color: #E6842E;
    text-decoration: underline;
}


.cookies5{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #1C2540;
    width: 360px;
    height: 208px;
    margin-bottom: 25px;
    border-radius: 0.5em;
    color:#FFFFFF;
    font-family: Roboto;
    padding: 1.4em;
    box-sizing: border-box;
}

.cookies5-heading {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.1em;
}

.cookies5-pragraph, .cookies5-info {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
}

.cookies5-pragraph {
    margin-bottom: 2em;
}

.cookies5-info {
    margin-left: -.1em;
    text-decoration: underline;
    color: #FFFFFF;
}

.cookies5-settings, .cookies5-accept{
    font-weight: 500;
    font-size: 1rem;
    margin-left: -.2em;
    color: #FFFFFF;
}

.cookies5-settings {
    margin-right: 1.5em;
}

.cookies5-accept{
    background-color: #09B3AF;
    padding: .5em 1em;
    border-radius: 0.2em;
    transition: ease 250ms;
}

.cookies5-accept:hover{
    background-color: #ffffff;
    color: #09B3AF;
}


.cookies6 {
    background-color: #FFFFFF;
    width: 360px;
    height: 170px;
    border-radius: 0.9em;
    color:#0F181D;
    font-family: Roboto;
    padding: 1.2em;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.cookies6-heading {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.7em;
}

.cookies6-pragraph {
    font-size: 0.9rem;
    line-height: 1.2em;
    color: #687F8C;
    margin-bottom: 1.7em;
}

.cookies6-settings, .cookies6-accept{
    font-weight: 500;
    font-size: 0.9rem;
}

.cookies6-settings{
    margin-left: -.2em;
    margin-right: 1.1em;
    color: #687F8C;
    background-color: #EAF0F4;
    padding: .5em 1.2em;
    border-radius: 0.4em;
    transition: ease 250ms;
}
.cookies6-settings:hover {
    background-color: #FFFFFF;
    text-decoration: underline;
}
.cookies6-accept{
    color: #FFFFFF;
    background-color: #40C1A7;
    padding: .5em 2.3em;
    border-radius: 0.4em;
    transition: ease 250ms;
    border: 1px solid #40C1A7;
}
.cookies6-accept:hover {
    background-color: #FFFFFF;
    color: #40C1A7;
}


.cookies7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 320px;
    height: 260px;
    border-radius: 1.2em;
    color:#15295A;
    font-family: Inter;
    padding: 1.8em;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.15);
}

.cookies7-heading {
    font-family: Prompt;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: -1em;
    margin-bottom: .4em;
    box-sizing: border-box;
}

.cookies7-pragraph {
    text-align: center;
    font-weight:400;
    line-height: 1.4em;
    margin-bottom: .8em;
}

.cookies7-accept {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: .7em 1.2em;
    border-radius: 2em;
    background-color: #4A7EFF;
    border: 2px solid #4A7EFF;
    margin-bottom: -2em;
    transition: ease 400ms;
}
.cookies7-accept:hover {
    background-color: #FFFFFF;
    color: #4A7EFF;
}


.cookies8{
    background-color: #FFFFFF;
    width: 320px;
    height: 137px;
    color:#15295A;
    font-family: Roboto;
    padding: 1.2em;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.15);
}

.cookies8-pragraph {
    font-size: 1rem;
    font-weight:400;
    line-height: 1.4em;
    margin-bottom: .8em;
}

.cookies8-info, .cookies8-accept {
    font-size: 1rem;
    font-weight:400;
    text-decoration: none;
    margin-left: -.1em;
}

.cookies8-info{
    color: #6666FF;
}
.cookies8-info:hover{
    text-decoration: underline;
}

.cookies8-accept{
    color: #FFFFFF;
    padding: .2em .6em;
    border-radius: .2em;
    background-color: #6666FF;
    border: 1px solid #6666FF;
    transition: ease 400ms;
    margin-left: 4.8em;
}
.cookies8-accept:hover{
    background-color: #FFFFFF;
    color:#6666FF;
}
