@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Lato;
}

.Hero-page {
    width: 100%;
    height: 500px;
    background-color: #D52047;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.info1 {
    /* height: 28em;
    width: 27.8em; */
    height: 450px;
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    color: #FFFFFF;
}

.info1-heading{
    font-size: 1.6rem;
    width: 320px;
    line-height: 1.3em;
    margin-bottom: 0.9em;
    font-weight: 700;
}

.info1-paragraph {
    line-height: 1.3em;
}

.info1-links{
    margin-top: 1.5em;
    width: 8em;
    display: flex;
    justify-content: space-between;
}

.slider {
    /* height: 25em;
    width: 35em; */
    display: flex;
    align-items: center;
    position: relative;
    width:533px;
    height:311px;
    margin-left: -2em;
}

.MainImg{
    z-index: 3;
    margin-left: -22em;
}

.PrevImg{
    z-index: 2;
    width:383px;
    height:267px;
}

.NextImg{
    z-index: 1;
    margin-left: -22em;
    width:383px;
    height:267px;
}


.Contacts {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 6em;
}

.info2 {
    width: 27em;
    height: 10em;
    color: #000000;
}

.info2-heading{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1.8em;
}

.info2-paragraph{
    width: 434px;
    line-height: 1.3em;
}

.FirstName, .LastName {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    color:rgba(19, 39, 67, 0.5);
    width: 255px;
    height: 60px;
}

.FirstLastNames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.4em;
}

.PhoneNumber, .ServicesInput {
    height: 60px;  
}

.PhoneNumber{
    margin-bottom: 1.8em;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    color:rgba(19, 39, 67, 0.5);
}

.ServicesInput{
    border: 1.2em solid;
    border-radius: 0.5rem;
    border: 0.4px solid;
    margin-bottom: 2.2em;
    height: 60px;
}

.input-section {
    width: 550px;
    height: 325px;
    display: flex;
    flex-direction: column;
    color:rgba(19, 39, 67, 0.5);
}

.btn-Submit{
    width: 160px;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    border: 0.1rem solid;
    background-color: #ED4C5C;
    padding: .9em .8em;
    border-radius: 0.4em;
    transition: ease 340ms;
}
.btn-Submit:hover{
    background: #FFFFFF;
    color: #ED4C5C;
}


footer{
    background-color: #FAFAFA;
    height: 435px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    color:#101010;
}

.footer-address-heading {
    font-weight: 700;
    margin-bottom: 2.2em;
}

.footer-address-paragraph{
    width: 166px;
    line-height: 1.2em;
    font-size: 0.8rem;
    margin-bottom: 6em;
}

.footer-address-copyright{
    font-size: 0.8rem;
}

.footer-services-heading, .footer-get-in-touch-heading, .footer-banks-heading{
    font-weight: 700;
    margin-bottom: 2.2em;
}

.footer-services-list {
    line-height: 1.3em;
    font-size: 0.8rem;
    margin-bottom: 4.4em;
}

.footer-get-in-touch-info {
    line-height: 1.3em;
    font-size: 0.8rem;
    margin-bottom: 1.4em;
    
}

.socials {
    width: 66px;
    display: flex;
    justify-content: space-between;
}

.footer-get-in-touch{
    margin-bottom: 4.5em;
}

.footer-banks{
    margin-bottom: 6.7rem;
}

.footer-address, .footer-services, .footer-get-in-touch, .footer-banks{
    margin-top: 4em;
}
